@using SightsAndSounds.Shared.Models;
@using SightsAndSounds.Blazor.Services;
@inject IVenueService VenueService;

<h2>AddVenue</h2>

@if (venues is null)
{
    <p>Loading…</p>
}
else
{

    <EditForm Model="@venue" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @* Name *@
        <div class="form-group">
            <label for="Name">Venue Name</label>
            <InputText id="Name" class="form-control" @bind-Value="venue.Name" />
            <ValidationMessage For="@(() => venue.Name)" />
        </div>

        @* City *@
        <div class="form-group">
            <label for="City">City</label>
            <InputText id="City" class="form-control" @bind-Value="venue.City" />
            <ValidationMessage For="@(() => venue.City)" />
        </div>


        @* State *@
        <div class="form-group">
            <label for="State">State</label>
            <InputText id="State" class="form-control" @bind-Value="venue.State" />
            <ValidationMessage For="@(() => venue.State)" />
        </div>


        @* Country *@
        <div class="form-group">
            <label for="Country">Country</label>
            <InputText id="Country" class="form-control" @bind-Value="venue.Country" />
            <ValidationMessage For="@(() => venue.Country)" />
        </div>

        @* VenueType *@
        <div class="form-group">
            <label for="VenueType">Venue Type</label>
            <InputSelect id="VenueType" class="form-control" @bind-Value="venue.Type">
                <option value="">Select a venue type</option>
                @foreach (var vt in Enum.GetValues<VenueType>())
                {
                    <option value="@vt">@vt</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => venue.Type)" />
        </div>

        @* Alternate Names *@
        <div class="form-group">
            <label for="AlternateNames">Alternate Names</label>
            @* <InputText id="AlternateNames" class="form-control" @bind-Value="venue.AlternateNames" />
            <ValidationMessage For="@(() => venue.AlternateNames)" /> *@
        </div>


        @* Notes *@
        <div class="form-group">
            <label for="Notes">Notes</label>
            <InputTextArea id="Notes" class="form-control" @bind-Value="venue.Notes" />
            <ValidationMessage For="@(() => venue.Notes)" />
        </div>


        <button type="submit" class="btn btn-primary">Add Venue</button>

    </EditForm>
}

@code {

    private Venue venue = new Venue();
    private List<Venue>? venues = new List<Venue>();
    protected override async Task OnInitializedAsync()
    {
        venues = await VenueService.GetVenuesAsync();
        venue.Type = VenueType.Unknown;
    }
    private async Task HandleValidSubmit()
    {
        await VenueService.CreateVenueAsync(venue);
        venue = new Venue(); // Reset the form
        venues = await VenueService.GetVenuesAsync(); // Refresh the list
    }

}
